/* -------------------------------------
	GLOBAL
	------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  line-height: 1.6;
}

/* Let's make sure all tables have defaults */
table td {
  vertical-align: top;
}

/* -------------------------------------
	BODY & CONTAINER
	------------------------------------- */
body {
  background: url("http://onthego.capacitatech.com/img/bg_geo_white.jpg") 0 0 repeat;
  color: #7f7f7f;
  font-size: 14px;
}

.body-wrap {
  width: 100%;
}

.container {
  display: block !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

/* -------------------------------------
	HEADER, FOOTER, MAIN
	------------------------------------- */
.main {
  border: 0px solid #e9e9e9;
  border-radius: 3px 3px 0 0;
  padding: 15px;
}

.content-wrap {
  padding: 20px;
}

.content-wrap small {
  color: #aaa;
  font-size: 11px;
  display: block;
}

.content-block {
  padding: 10px 0;
}

.margen {
  margin: 40px 0;
}

.header {
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  clear: both;
  color: #999;
  padding: 20px;
  text-align: center;
}

.footer small {
  margin: 4px;
  display: block;
  font-size: 11px;
}

.footer a {
  color: #999;
}

.footer p, .footer a, .footer .unsubscribe, .footer td {
  font-size: 12px;
}

/* -------------------------------------
	GRID AND COLUMNS
	------------------------------------- */
.column-left {
  float: left;
  width: 50%;
}

.column-right {
  float: left;
  width: 50%;
}

/* -------------------------------------
	TYPOGRAPHY
	------------------------------------- */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 20px  0;
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
  font-weight: 400;
}

p, ul, ol {
  margin-bottom: 20px;
  font-weight: normal;
}

p li, ul li, ol li {
  margin-left: 5px;
  list-style-position: inside;
}

/* -------------------------------------
	LINKS & BUTTONS
	------------------------------------- */
a {
  color: #5997b4;
  text-decoration: underline;
}

.btn-primary {
  background-color: #2A9BCD;
  border-radius: 2px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-danger {
  color: #FFF;
  background: #c20e1a;
  border-radius: 2px 8px;
  display: inline-block;
  cursor: pointer;
  padding: 6px 60px;
  margin: 30px 0;
  text-align: center;
  text-decoration: none;
}

/* -------------------------------------
	OTHER STYLES THAT MIGHT BE USEFUL
	------------------------------------- */
.content-wrap td {
  padding: 15px 35px;
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.logo_right {
  padding: 35px 10px 0 0;
}

tr.center {
  text-align: center;
}

td h4 {
  color: #2A9BCD;
  margin: 0 0 15px 0;
}

.center {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.pt {
  padding-top: 30px;
}

.exito_pt {
  padding-top: 70px;
}

.exito h3 {
  margin: 60px 0 20px 0;
}

.clear {
  clear: both;
}

.bg {
  background: url("https://s3-sa-east-1.amazonaws.com/pagoaldia/mail/bg_logo_empresa.png") no-repeat 0 top;
  width: 141px;
  height: 90px;
  display: inline-block;
  float: left;
  padding: 24px 0 0 0;
  text-align: center !important;
}

/* -------------------------------------
	RESPONSIVE AND MOBILE FRIENDLY STYLES
	------------------------------------- */
@media only screen and (max-width: 640px) {
  h1, h2, h3, h4 {
    font-weight: 600 !important;
    margin: 20px 0 5px !important;
  }
  h1 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  .logo {
    text-align: center;
  }
  .container {
    width: 100% !important;
  }
  .content, .content-wrapper {
    padding: 10px !important;
  }
  .invoice {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
