<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{content.title}}</title>
</head>
<body style="background:#e74c3c;">
	<table class="body-wrap" style="background:#e74c3c;">
		<tr>
			<td class="container" width="600">
				<div class="content">
					<table class="main" width="100%" cellpadding="0" cellspacing="0">
						<tr class="logo">
							<td>
								<img style="margin-top:30px;margin-left: 30px;" src="http://placehold.it/350x150"  alt="" border="0" width="350" height="150" />
							</td>
						</tr>
						<tr>
							<td class="content-wrap" colspan="3">
								<table width="100%" cellpadding="0" cellspacing="0" style="background:#fff;border-radius:5px;padding: 15px 0px 5px 0;">
									<tr class="welcome" style="margin-top: 15px">
										<td><span>{{user.firstName}}</span></td>
									</tr>
									<tr class="center">
										<td><h4 style="font-size: 22px; font-weight: 300">{{content.title}}</h4></td>
									</tr>
									<tr class="info_wrap" style="text-align: justify">
										<td style="font-size: 18px; font-weight: 300">
											{{content.message}}
										</td>
									</tr>
									<tr>
										<td style="text-align: center">
											<a href="{{content.action_link}}" class="btn-primary">{{content.action}}</a>
										</td>
									</tr>
									<tr>
										<td class="center" style="margin-bottom: 15px">
											<br><br>
											<small>Moblox Team</small>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div class="footer" style="color:#fff;">
            			<small>This email has been sent to: <a href="mailto:{{user.email}}"> {{user.email}} </a> </small>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>
